<div class="page-wrapper">
    <div class="row page-titles">
        <div class="col-md-12 align-self-center">
            <h2 class="text-primary">Transactions</h2>
        </div>
    </div>
    <div class="container-fluid">
        <div class="card">
            <div class="col-lg-12">
                <form>
                    <div class="form-group">
                        <dropdown :items="users"></dropdown>
                        <dropdown :items="stores"></dropdown>
                        <dropdown :items="machines"></dropdown>
                        <dropdown :items="transactionTypes"></dropdown>
                        <dropdown :items="gameTypes"></dropdown>
                        <label class="col-form-label m-r-10">Duration :</label>
                        <div class="btn-group">
                            <date-picker name="date" v-model="searchData.startTime"></date-picker>
                            <span class="col-form-label"> ～ </span>
                            <date-picker name="date" v-model="searchData.endTime"></date-picker>
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-primary btn-sm" type="button" @click="search">
                                <i class="ti-search"> Search</i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-12">
                <div class="table-responsive">
                    <svg class="circular" viewBox="25 25 50 50" v-if="loading">
                        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle>
                    </svg>
                    <div id="myTable_wrapper" class="dataTables_wrapper no-footer" :class='{"loading-opacity": loading}'>
                        <div class="dataTables_length m-r-20" id="myTable_length">
                            <label>Show
                                <select name="myTable_length" aria-controls="myTable" class="" v-model="unit">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select> entries</label>
                        </div>
                        <div class="dataTables_length">
                            <label>Data View </label>
                            <button class="btn btn-sm btn-outline-primary" type="button" :class="chkView(1)" @click="changeView(1)">
                                Simple
                            </button>
                            <button class="btn btn-sm btn-outline-primary" type="button" :class="chkView(2)" @click="changeView(2)">
                                Detail
                            </button>
                        </div>
                        <div class="alert alert-danger" v-if="viewData.length === 0 && searched">There is no data cloud display.</div>
                        <div class="alert alert-info" v-if="viewData.length === 0 && !searched">Press search button to start.</div>
                        <table v-if="viewData.length > 0" id="myTable" class="table table-hover no-footer" role="grid" aria-describedby="myTable_info">
                            <thead>
                                <tr role="row">
                                    <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending">Store Name</th>
                                    <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending"
                                        v-if="view==2">Machine ID</th>
                                    <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending">Machine Name</th>
                                    <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending">Transaction Type</th>
                                    <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending">Game Type</th>
                                    <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending"
                                        v-if="view==2">Start Credit</th>
                                    <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending"
                                        v-if="view==2">Result Credit</th>
                                    <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending">In</th>
                                    <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending">Out</th>
                                    <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending">Bet</th>
                                    <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending">Win</th>
                                    <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending">JP Win</th>
                                    <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending">Description</th>
                                    <th style="display:none;!important" class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending"
                                        v-if="view==2">Start Symbols</th>
                                    <th style="display:none;!important" class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending"
                                        v-if="view==2">Result Symbols</th>
                                    <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending"
                                        v-if="view==2">Round ID</th>
                                    <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending">Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr role="row" v-for="item in viewData">
                                    <td>{/ item.storeName /}</td>
                                    <td v-if="view==2">{/ item.pcbID /}</td>
                                    <td>{/ item.machineName /}</td>
                                    <td>{/ item.transactionType /}</td>
                                    <td>{/ item.gameType /}</td>
                                    <td v-if="view==2">{/ item.startCredit /}</td>
                                    <td v-if="view==2">{/ item.resultCredit /}</td>
                                    <td>{/ thousandFormat(item.in) /}</td>
                                    <td>{/ thousandFormat(item.out) /}</td>
                                    <td>{/ thousandFormat(item.bet) /}</td>
                                    <td>{/ thousandFormat(item.win) /}</td>
                                    <td :title="jpTitle(item)">{/ thousandFormat(item.jp1Win + item.jp2Win + item.jp3Win + item.jp4Win) /}</td>
                                    <td>{/ item.memo.desc /}</td>
                                    <td style="display:none;!important" v-if="view==2">
                                        {/ item.memo.startSymbols /}
                                        <button type="button" class="btn btn-sm btn-light">View</button>
                                    </td>
                                    <td style="display:none;!important" v-if="view==2">
                                        {/ item.memo.resultSymbols /}
                                        <button type="button" class="btn btn-sm btn-light">View</button>
                                    </td>
                                    <td v-if="view==2">{/ item.roundID /}</td>
                                    <td>{/ item.createdTime /}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="dataTables_info" id="myTable_info" role="status" aria-live="polite" v-if="viewData.length > 0">Showing {/ startRow+1 /} to {/ Math.min(viewData.length, endRow) /} of {/ reportData.items.length
                            /} entries</div>
                        <div class="dataTables_paginate paging_simple_numbers" id="myTable_paginate" v-if="viewData.length > 0">
                            <a @click="changePage(currentPage-1)" v-if="currentPage > 1" class="paginate_button btn-sm previous" aria-controls="myTable"
                                data-dt-idx="0" tabindex="0" id="myTable_previous">Previous</a>
                            <span>
                                <a @click="changePage(index)" :class="chkPageCurrent(index)" class="paginate_button btn-sm" aria-controls="myTable" data-dt-idx="1"
                                    tabindex="0" v-for="index in totalPage">{/ index /}</a>
                            </span>
                            <a @click="changePage(currentPage+1)" v-if="currentPage < totalPage" class="paginate_button btn-sm next" aria-controls="myTable"
                                data-dt-idx="7" tabindex="0" id="myTable_next">Next</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>