<div class="page-wrapper">
    <div class="row page-titles">
        <div class="col-md-12 align-self-center">
            <h2 class="text-primary">Oprations</h2>
        </div>
    </div>
    <div class="container-fluid">
        <div class="card">
            <div class="col-lg-12">
                <form>
                    <div class="form-group">
                        <dropdown :items="accounts"></dropdown>
                        <dropdown :items="stores"></dropdown>
                        <dropdown :items="machines"></dropdown>
                        <label class="col-form-label m-r-10">Duration :</label>
                        <div class="btn-group">
                            <input type="date" class="form-control input-sm" placeholder="dd/mm/yyyy">
                            <span class="col-form-label"> ～ </span>
                            <input type="date" class="form-control input-sm" placeholder="dd/mm/yyyy">
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-primary btn-sm" type="button" @click="search">
                                <i class="ti-search"> Search</i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-12">
                <div class="table-responsive">
                    <svg class="circular" viewBox="25 25 50 50" v-if="loading">
                        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle>
                    </svg>
                    <div id="myTable_wrapper" class="dataTables_wrapper no-footer" :class='{"loading-opacity": loading}'>
                        <div class="dataTables_length m-r-20" id="myTable_length">
                            <label>Show
                                <select name="myTable_length" aria-controls="myTable" class="" v-model="unit">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select> entries</label>
                        </div>
                        <div class="dataTables_length m-r-20">
                            <label>Group View By </label>
                            <button class="btn btn-sm btn-outline-primary" type="button" :class="chkGroup(1)" @click="changeGroup(1)">
                                Machine
                            </button>
                            <button class="btn btn-sm btn-outline-primary" type="button" :class="chkGroup(2)" @click="changeGroup(2)">
                                Account
                            </button>
                            <button class="btn btn-sm btn-outline-primary" type="button" :class="chkGroup(3)" @click="changeGroup(3)">
                                Store
                            </button>
                        </div>
                        <div class="dataTables_length">
                            <label>Data View </label>
                            <button class="btn btn-sm btn-outline-primary" type="button" :class="chkView(1)" @click="changeView(1)">
                                Simple
                            </button>
                            <button class="btn btn-sm btn-outline-primary" type="button" :class="chkView(2)" @click="changeView(2)">
                                Detail
                            </button>
                        </div>
                        <div class="alert alert-danger" v-if="viewData.length === 0">There is no data cloud display.</div>
                        <table id="myTable" class="table table-hover no-footer" role="grid" aria-describedby="myTable_info">
                            <thead>
                                <tr role="row">
                                    <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-label="Date: activate to sort column ascending">Date</th>
                                    <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-label="Store Name: activate to sort column ascending"
                                        v-if="group!=2">Store Name</th>
                                    <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-label="Store Name: activate to sort column ascending"
                                        v-if="group==2">Account</th>
                                    <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-label="Machine ID: activate to sort column ascending"
                                        v-if="view==2&&group==1">Machine ID</th>
                                    <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-label="Machine Name: activate to sort column ascending"
                                        v-if="group==1">Machine Name</th>
                                    <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-label="Total In: activate to sort column ascending">Total In</th>
                                    <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-label="Total Out: activate to sort column ascending">Total Out</th>
                                    <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-label="Out Rate: activate to sort column ascending"
                                        v-if="view==2">Out Rate</th>
                                    <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-label="Total Bet: activate to sort column ascending">Total Bet</th>
                                    <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-label="Total Win: activate to sort column ascending">Total Win</th>
                                    <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-label="Win Rate: activate to sort column ascending"
                                        v-if="view==2">Win Rate</th>
                                    <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-label="Total Play Times: activate to sort column ascending">Total Play Times</th>
                                    <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-label="Total Win Times: activate to sort column ascending">Total Win Times</th>
                                    <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-label="Hit Rate: activate to sort column ascending"
                                        v-if="view==2">Hit Rate</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr role="row" v-for="item in viewData">
                                    <td>{/ item.date /}</td>
                                    <td v-if="group!=2">{/ item.storeName /}</td>
                                    <td v-if="group==2">{/ item.account /}</td>
                                    <td v-if="view==2&&group==1">{/ item.machineId /}</td>
                                    <td v-if="group==1">{/ item.machineName /}</td>
                                    <td>{/ thousandFormat(item.in) /}</td>
                                    <td>{/ thousandFormat(item.out) /}</td>
                                    <td v-if="view==2">{/ percentageFormat(item.outRate) /}</td>
                                    <td>{/ thousandFormat(item.bet) /}</td>
                                    <td>{/ thousandFormat(item.win) /}</td>
                                    <td v-if="view==2">{/ percentageFormat(item.winRate) /}</td>
                                    <td>{/ item.playTimes /}</td>
                                    <td>{/ item.winTimes /}</td>
                                    <td v-if="view==2">{/ percentageFormat(item.hitRate) /}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="dataTables_info" id="myTable_info" role="status" aria-live="polite" v-if="viewData.length > 0">Showing {/ startRow+1 /} to {/ Math.min(viewData.length, endRow) /} of {/ reportData.items.length /} entries</div>
                        <div class="dataTables_paginate paging_simple_numbers" id="myTable_paginate" v-if="viewData.length > 0">
                            <a @click="changePage(currentPage-1)" v-if="currentPage > 1" class="paginate_button btn-sm previous" aria-controls="myTable"
                                data-dt-idx="0" tabindex="0" id="myTable_previous">Previous</a>
                            <span>
                                <a @click="changePage(index)" :class="chkPageCurrent(index)" class="paginate_button btn-sm" aria-controls="myTable" data-dt-idx="1"
                                    tabindex="0" v-for="index in totalPage">{/ index /}</a>
                            </span>
                            <a @click="changePage(currentPage+1)" v-if="currentPage < totalPage" class="paginate_button btn-sm next" aria-controls="myTable"
                                data-dt-idx="7" tabindex="0" id="myTable_next">Next</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12" v-if="viewData.length > 0">
                <h4>Total</h4>
                <div class="table-responsive">
                    <svg class="circular" viewBox="25 25 50 50" v-if="searching">
                        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle>
                    </svg>
                    <div id="myTable_wrapper" class="dataTables_wrapper no-footer" :class='{"loading-opacity": searching}'>
                        <table id="myTable" class="table  no-footer" role="grid" aria-describedby="myTable_info">
                            <thead>
                                <tr role="row">
                                    <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending">Total In</th>
                                    <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending">Total Out</th>
                                    <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending">Out Rate</th>
                                    <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending">Total Bet</th>
                                    <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending">Total Win</th>
                                    <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending">Win Rate</th>
                                    <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending">Total Play Times</th>
                                    <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending">Total Win Times</th>
                                    <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending">Hit Rate</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr role="row">
                                    <tr role="row">
                                        <td>{/ thousandFormat(reportDataTotal.in) /}</td>
                                        <td>{/ thousandFormat(reportDataTotal.out) /}</td>
                                        <td>{/ percentageFormat(reportDataTotal.outRate) /}</td>
                                        <td>{/ thousandFormat(reportDataTotal.bet) /}</td>
                                        <td>{/ thousandFormat(reportDataTotal.win) /}</td>
                                        <td>{/ percentageFormat(reportDataTotal.winRate) /}</td>
                                        <td>{/ reportDataTotal.playTimes /}</td>
                                        <td>{/ reportDataTotal.winTimes /}</td>
                                        <td>{/ percentageFormat(reportDataTotal.hitRate) /}</td>
                                    </tr>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>