<div class="page-wrapper">
    <div class="row page-titles">
        <div class="col-md-12 align-self-center">
            <h2 class="text-primary">Machine List</h2>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12" v-show="step===1">
                <div class="card">
                    <div class="card-title">
                        Step 1: Select machines to transfer
                    </div>
                    <treemenu :label="machinesWithUsersTree.roots.account" :nodes="machinesWithUsersTree.roots" :depth="0" :extendLevel="1" :checkList="checkList"></treemenu>
                    <div>
                        <div class="pull-right">
                            <button v-if="$root.chkPermission('machineTransfer.edit')" type="submit" class="btn btn-primary btn-sm" @click="toStep(2)">Next</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12" v-show="step===2">
                <div class="card">
                    <div class="card-title">
                        Step 2: Select an account that machines will be transfer to
                    </div>
                    <treemenu :label="usersTree.roots.account" :nodes="usersTree.roots" :depth="0" :extendLevel="2" :onlyAccount="true" :checkList="checkList"></treemenu>
                    <div>
                        <div class="pull-right">
                            <button v-if="$root.chkPermission('machineTransfer.edit')" type="submit" class="btn btn-secondary btn-sm" @click="toStep(1)">Previous</button>
                            <button v-if="$root.chkPermission('machineTransfer.edit')" type="submit" class="btn btn-primary btn-sm" @click="toStep(3)">Next</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12" v-show="step===3">
                <div class="card">
                    <div class="card-title">
                        Step 3: Confirm transfer information
                    </div>
                    <div>
                        <div class="alert alert-info" role="alert" v-if="checkList.machines">
                            Machines will be transfer:
                            <ul>
                                <li class="text-danger font-weight-bold" v-for="machine in checkList.machines">
                                    {/ machine.pcbID /}({/ machine.storeName /}-{/ machine.machineName /}) Owner is [{/ machine.owner
                                        /}]
                                </li>
                            </ul>
                        </div>

                        <div class="alert alert-info" role="alert" v-if="checkList.account">
                            Transfer to account:
                            <ul>
                                <li class="text-danger font-weight-bold">
                                    {/ checkList.account.account /}
                                </li>
                            </ul>
                        </div>
                        <div class="pull-right">
                            <button v-if="$root.chkPermission('machineTransfer.edit')" type="submit" class="btn btn-secondary btn-sm" @click="toStep(2)">Previous</button>
                            <button v-if="$root.chkPermission('machineTransfer.edit')" type="submit" class="btn btn-primary btn-sm" @click="transfer">Transfer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>